{% if not hide %}
<nav class="pagination-nav">
 {% block pagination_list %}
 <ul class="pagination">
 {% block pagination_list_items %}
 {% if page_obj.has_previous %}
  <li>
    <a href="?{{ qs }}{{ page_var }}={{ page_obj.previous_page_number }}">&lt; Prev</a>
  </li>
 {% endif %}

 {% if page_obj.number == 1 %}
 <li class="disabled"><a>1</a></li>
 {% else %}
 <li><a href="?{{ qs }}{{ page_var }}=1">1</a></li>
 {% endif %}

 {% if l_elipse %}
  <li class="disabled"><a>...</a></li>
 {% endif %}

 {% for linkpage in page_numbers %}
  {% ifequal linkpage page_obj.number %}
   <li class="active"><a>{{ page_obj.number }}</a></li>
  {% else %}
   <li><a href="?{{ qs }}{{ page_var }}={{ linkpage }}">{{ linkpage }}</a></li>
  {% endifequal %}
 {% endfor %}

 {% if r_elipse %}
  <li class="disabled"><a href="#">...</a></li>
 {% endif %}

 {% if page_obj.number == paginator.num_pages %}
  <li class="disabled"><a>{{ paginator.num_pages }}</a></li>
 {% else %}
  <li><a href="?{{ qs }}{{ page_var }}={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
 {% endif %}

 {% if page_obj.has_next %}
  <li><a href="?{{ qs }}{{ page_var }}={{ page_obj.next_page_number }}">Next &gt;</a></li>
 {% endif %}

 {% endblock %}
 </ul>

 {% if per_page_choices %}
   {% include "paginator/per_page_choices.html" %}
 </div>
 {% endif %}

 {% endblock %}
</div>
{% endif %}
